
@font-face {
  font-family: 'Vollkorn-Italic';
  src: url('Vollkorn-Italic.eot?#iefix') format('embedded-opentype'),  url('Vollkorn-Italic.woff') format('woff'), url('Vollkorn-Italic.ttf')  format('truetype'), url('Vollkorn-Italic.svg#Vollkorn-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
