<div>
    <p class="lead">About the framework</p>
    <p>Honeybadger is a minimalistic Ruby framework for hackers and startups.</p>
    <p>It is stupidly simple to launch projects with, as it comes with:</p>
    <li>Admin interface</li>    
    <li>User authentication with SSO integrations</li>
    <li>Blogging functionality</li>    
    <li>Express / Sinatra-style routing</li>
    <li>Free from things that wastes your time</li>
    <hr>
    <p>So what are you waiting for, get crackin!</p>
</div>