<div class="page-header">
  <h2>Example page</h2>
</div>

<p class="lead">Create a page:</p>
<ol>
<li>add a route in app/app.rb
<pre>
    get "/example" do
      render "example"
    end
    </pre>
</li>
<li>create a view file in app/views/example.erb</li>
</ol>
