<div class="page-header">
  <h3>app/views/login.erb</h3>
</div>

<div class="row">

  <div class="col-md-5">
    <h5><strong>Sign in with email</strong></h5>
    <form role="form" method="POST" class="form-horizontal" action="/login">

      <div class="form-group">
        <label for="email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-8">
          <input type="text" name="email" id="email" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label for="password" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-8">
          <input type="password" name="password" id="password" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">
          <button type="submit" class="btn btn-primary"><i class="fa btn-xs fa-envelope"></i> Send</button>
        </div>
      </div>
    </form>
  </div>

  <div class="col-md-2">
    <h3>Or</h3>
  </div>

  <div class="col-md-5">
    <h5><strong>Sign in with social media</strong></h5>
    <a class="btn btn-block btn-social btn-twitter" href="/auth/twitter">
      <i class="fa btn-xs fa-twitter"></i> Sign in with Twitter
    </a>
    <a class="btn btn-block btn-social btn-instagram" href="/auth/instagram">
      <i class="fa btn-xs fa-instagram"></i> Sign in with Instagram
    </a>
    <a class="btn btn-block btn-social btn-facebook" href="/auth/facebook">
      <i class="fa btn-xs fa-facebook"></i> Sign in with Facebook
    </a>
    <a class="btn btn-block btn-social btn-github" href="/auth/github">
      <i class="fa btn-xs fa-github"></i> Sign in with Github
    </a>
    <a class="btn btn-block btn-social btn-linkedin" href="/auth/linkedin">
      <i class="fa btn-xs fa-linkedin"></i> Sign in with Linkedin
    </a>
  </div>

</div>
