/* global body padding */
body {
  padding-top:    20px;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  body {
    padding-top:    50px;
    padding-bottom: 50px;
  }
}


/* global spacing overrides */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
}
hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

.navbar-fixed-top,
.navbar-static-top {
  border-bottom: 0;
}

.bd-example {
  padding: 36px;
}


body {
    width: 1px;
    min-width: 100%;
    *width: 100%;
    }

    .logo {
      background-color: rgba(0, 0, 0, 0);
      box-sizing: border-box;
      color: rgb(51, 51, 51);
      cursor: auto;
      display: inline;
      font-family: 'avenir next', 'helvetica neue', helvetica, arial, sans-serif;
      font-size: 14px;
      font-weight: 500;
      height: auto;
      letter-spacing: 5.4px;
      line-height: 22.5px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      width: auto;
    }

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
}