<div class="dashhead">
  <div class="dashhead-titles">
    <h6 class="dashhead-subtitle">Dashboards</h6>
    <h2 class="dashhead-title">FashionGo Update All Products</h2>
  </div>
</div>

<hr>

<div class="content">  

  <form method="POST" action="/admin/fg-all-products" enctype="multipart/form-data">
    <p>Active Items CSV from FGO</p>
    <p><input type="file" name="active_items_file"></p>
    <br>
    <button type="submit" class="btn btn-primary">Import</button>

  </form>
</div>
