<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <!-- SET: Title -->
  <title>Modern law with a human touch. | Everwill</title>
  <meta name="keywords" content="will, everwill, last will, write a will, create a trust, estate planning, living trusts, last will and testament, preparing a will, attorney for wills, how to make a will">
  <meta name="description" content="Wills and trusts customized for your family. Highly experienced attorneys + the latest in technology means high quality legal services, but not high costs.">

  <!-- SET: Tracking -->
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NZ3KTMZ');</script>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NZ3KTMZ"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- Hotjar Tracking Code for www.everwill.com -->
  <script>
  (function(h,o,t,j,a,r){
    h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
    h._hjSettings={hjid:541021,hjsv:5};
    a=o.getElementsByTagName('head')[0];
    r=o.createElement('script');r.async=1;
    r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
    a.appendChild(r);
  })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
  </script>

  <script>
    window.intercomSettings = {
      app_id: "<%= settings.intercom[:app_id] %>"
    };
  </script>
  <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/e1upm2d7';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>

  <!-- SET: Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">

  <!-- SET: Stylesheet -->
  <link rel="stylesheet" type="text/css" href="css/featherlight.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/responsive.css">

<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<style>
</style>
<![endif]-->

</head>
<body>
  <!-- wrapper starts -->
  <div class="wrapper">
    <!-- Header Starts -->
    <header>
      <div class="container">
        <div class="logo flt_lt">
          <a href="#"><figure><img src="images/logo.png" width="157" height="66" alt="logo"></figure></a>
        </div>
        <div class="mbl_no flt_rt">
          <a href="tel:8883837945">Call Us Now (888) 383-7945</a>
        </div>
        <div class="clear"></div>
      </div>
    </header>
    <!-- Header ends -->

    <!-- banner Starts -->
    <div class="banner">
      <div class="container">
        <div class="banner_in">
          <h1>Modern law<br> with a human touch.</h1>
          <span style='line-height: 38px;'>Wills and trusts customized for your family.<br> 
            Experienced attorneys + latest technology means high quality legal services, but not the high costs.</span>
          <form id="wizardForm" action="/api/subscribe">
            <ul>
              <li class="form-group">
                <input type="text" placeholder="Name" name="name" id="name" class="form-control">
              </li>
              <li class="form-group">
                <input type="text" placeholder="Phone" name="phone" id="phone" class="form-control">
              </li>
              <li>
                <button type="submit" id="submit">Learn More</button>
              </li>
            </ul>
          </form>
          <small class="f_success"></small>
          <div class="clear"></div>
        </div>
        <div class="appand"></div>
      </div>
      <div class="banner_img">
        <div class="banner_img_info">
          <figure>
            <img src="images/header_background.jpg" width="799" height="765" alt="header_background">
          </figure>
        </div>    
      </div>
    </div>
    <!-- banner ends -->

    <!-- who_we_are Starts -->
    <div class="who_we_are">
      <div class="container">
        <div class="who_we_are_in">
          <h2>Who we are</h2>
          <p>We are experienced estate planning attorneys, but also mothers, fathers, children, spouses, and dog lovers. We understand your concerns and are ready to collaborate to create an estate plan just for you so that you can rest easy, knowing your loved ones are protected.</p>
          <ul>
            <li>
              <a href="javscript:void(0)" data-featherlight="#fl1" class="who_we_are_info">
                <figure>
                  <img src="images/image.jpg" class="mbl_none" width="583" height="420" alt="image">
                  <img src="images/mbl_img.jpg" class="dsk_none" width="312" height="340" alt="image">
                </figure>
                <div class="who_we_are_pos">
                  <h4>Jeff Sydney</h4>
                  <small>Head of Innovation</small>
                  <p>“Today, there is a greater need than ever for tailor-made estate plans that<br> protects your loved ones” ... <span>Read More</span></p>
                </div>
              </a>
            </li>

            <li>
              <a href="javscript:void(0)" data-featherlight="#fl2" class="who_we_are_info">
                <figure>
                  <img src="images/image1.jpg" class="mbl_none" width="283" height="416" alt="image">
                  <img src="images/mbl_img1.jpg" class="dsk_none" width="312" height="340" alt="image">
                </figure>
                <div class="who_we_are_pos">
                  <h4>Peng Li</h4>
                  <small>Founder & Head of Attorney Development</small>
                  <p>“I want to help lawyers fall in love with their profession again” ... <span>Read More</span></p>
                </div>
              </a>
            </li>

            <li>
              <a href="javscript:void(0)" data-featherlight="#fl3" class="who_we_are_info">
                <figure>
                  <img src="images/image2.jpg" class="mbl_none" width="283" height="416" alt="image">
                  <img src="images/mbl_img3.jpg" class="dsk_none" width="312" height="340" alt="image">
                </figure>
                <div class="who_we_are_pos">
                  <h4>Janice Shen</h4>
                  <small>Head Attorney</small>
                  <p>“Once I understand what is most important to my clients and what keeps them up at night, I can create the best plan for their family” ... <span>Read More</span></p>
                </div>
              </a>
            </li>
          </ul>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <!-- who_we_are ends -->

    <!-- more_reasons Starts -->
    <div class="more_reasons">
      <div class="container">
        <div class="more_reasons_in">
          <h2>3 More Reasons to Choose Everwill</h2>
          <ul>
            <li>
              <div class="more_reasons_info">
                <figure>
                  <img src="images/reasons_new_img1.jpg" width="184" height="209" alt="reasons_img1">
                </figure>
                <h4>Never lose your will</h4>
                <p>We store it for you in a<br>bank-grade vault</p>
              </div>
            </li>

            <li>
              <div class="more_reasons_info">
                <figure>
                  <img src="images/reasons_new_img2.jpg" width="184" height="209" alt="reasons_img2">
                </figure>
                <h4>Allow doctors' emergency access <br>to your end-of-life wishes</h4>
                <p>Carry your Everwill Identification <br>Card in your wallet</p>
              </div>
            </li>

            <li>
              <div class="more_reasons_info">
                <figure>
                  <img src="images/reasons_new_img3.jpg" width="184" height="209" alt="reasons_img3">
                </figure>
                <h4>Prevent unauthorized <br>access to your will</h4>
                <p>Manage who gets access and <br>when from our online portal</p>
              </div>
            </li>
          </ul>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <!-- more_reasons ends -->

    <!-- get_start_now Starts -->
    <div class="get_start_now">
      <div class="container">
        <div class="get_start_now_in">
          <h2>Get started now!</h2>
          <strong>Call us at <a href="tel:8883837945">888-383-7945</a></strong>
          <a href="#top" id="contact_us">Contact Us Today</a>
        </div>
      </div>
      <div class="get_start_now_img">
        <figure>
          <img src="images/bottom_img.png" width="714" height="603" alt="bottom_img">
        </figure>
      </div>
    </div>
    <!-- get_start_now ends -->

    <!-- footer starts -->
    <footer>
      <div class="container">
        <div class="footer_in">
          <ul>
            <li class="mbl_none">
              <p><a href="#">&copy; 2017 Everwill.</a> All rights reserved</p>
            </li>

            <li>
              <p><a href="#">Privacy Policy</a></p>
            </li>

            <li>
              <p><a href="#">Terms of Use</a></p>
            </li>

            <li>
              <p><a href="#">Attorney Advertising</a></p>
            </li>

            <li class="dsk_none">
              <p><a href="#">&copy; 2017 Everwill.</a> All rights reserved</p>
            </li>

            <li>
              <a href="#"><figure><img src="images/footer_logo.jpg" width="19" height="30" alt="footer_logo"></figure></a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
    <!-- footer ends -->
  </div>
  <!-- wrapper ends -->
  <div class="pop_up1 lightbox" id="fl1">
    <div class="ass_details">
      <figure>
        <img src="images/pop_up_img1.png" width="181" height="181" alt="pop_up_img1">
      </figure>
      <h2>Jeff Sydney</h2>
      <small>Head of Innovation</small>

      <p>At Everwill, we believe our attorneys should spend all their time on what matters most: our clients. So we hired a Head of Innovation to make their hard work behind the scenes flow smoothly and efficiently.</p>
       
      <p>Jeff comes to Everwill after 30 years of experience practicing law. With a JD from Stanford Law School and an MBA from the University of Southern California Marshall School of Business, Jeff founded a successful private firm where he led a team of attorneys in delivering top-notch estate plans and nurturing long-lasting client relationships. When he was ready for a new challenge, he funneled his decades of expertise into another passion: business transformation.</p>
       
      <p>As Head of Innovation, Jeff oversees our test kitchen of ideas, designing a cutting-edge platform that includes ongoing education, apps, and other proprietary tools that help our attorneys stay ahead of changes to estate tax law and update plans whenever the need arises. Jeff ensures that our lawyers have at their fingertips everything they need to develop plans customized to your circumstances, no matter what they are.</p>
       
      <div class="once_i">
        <h4>“Today, there is a greater need than ever for tailor-made estate plans that protect your loved ones,” Jeff explains. “Estate planning is not a one-size-fits-all endeavor. It’s easy to draw up a will, but if you’re not working with a skilled attorney you can trust, you’ll lack the confidence that your family will be taken care of when the time comes.”</h4>
      </div>
      
       
      <p>Plenty of people put off planning for the future -- it can be daunting or uncomfortable. Some only seek professional advice when life surprises them with the death of a loved one or an unexpected diagnosis. This hesitation has left a lot of clients unprepared as the largest wealth transfer in history gets underway, with Baby Boomers preparing to pass on more than $59 trillion in the coming decades.</p>
       
      <div class="once_i">
        <h4>“It’s no longer enough to simply protect your assets,” Jeff continues. “You need your attorney to create value for you.”</h4>
      </div>
             
      <p>With the benefit of Jeff’s business acumen, our attorneys can construct robust estate plans that safeguard your family, and you can walk away not only with your future planned, but with a burden lifted.</p>

      
    </div>
  </div>
  <div class="pop_up1 lightbox" id="fl2">
    <div class="ass_details">
      <figure>
        <img src="images/pop_up_img1.png" width="181" height="181" alt="pop_up_img1">
      </figure>
      <h2>Peng Li</h2>
      <small>Founder & Head of Attorney Development</small>

      <div class="once_i">
        <h4>“I want to help lawyers fall in love with their profession again,” says Peng, explaining her desire to found Everwill. </h4>
      </div>
      
      <p>Peng didn’t always love her own job. After nine years as a patent attorney at a number of BigLaw firms, where the race to rack up billable hours and make partner overshadowed more satisfying accomplishments, Peng struck out on a year-long journey. At its end, she hoped to find a new career, or a fresh way to make her commitment to the law feel inspiring.</p>

      <p>Peng indulged her passion for travel first, spending time in South America, India, and Southeast Asia. She hiked the Inca Trail in Peru, toured the Jain temples of Jaisalmer, India’s “Golden City,” and spent a week in silence on a Balinese island.</p>

      <p>Home again, she self-published her first novel in Chinese, and relaxed with friends and family. Most of them pleaded with her to return to the law, but Peng refused to go back until she could do so in a way that felt authentic.</p>

      <p>She had witnessed firsthand how so many lawyers, drawn to the profession out of a desire to make a difference in their communities, ended up slogging through jobs they hated. Even those who ventured into establishing their own practice struggled, unable to drum up enough clients or keep up with the marketing, accounting, and administrative needs of the business. She knew there had to be another way.</p>

      <div class="once_i">
        <h4>“What if I could build a workplace where the lawyers were all driven by the same mission, and we collaborated with each other instead of competing against one another?” she asked herself.</h4>
      </div>

      <p>Peng founded Everwill to create exactly that: a community of supportive, law-loving entrepreneurs. We offer our team of attorneys the tools they need to thrive. As a result, we can put our clients first, and gauge our success based not on how many hours we bill, but on how many clients we help.</p>
      
    </div>
  </div>
  <div class="pop_up1 lightbox" id="fl3">
    <div class="ass_details">
      <figure>
        <img src="images/pop_up_img1.png" width="181" height="181" alt="pop_up_img1">
      </figure>
      <h2>Janice Shen</h2>
      <small>Head Attorney</small>

      <p>Every family has their own story to tell. The trick is listening for it, and that’s Janice’s specialty.</p>
       
      <div class="once_i">
        <h4>“Once I understand what is most important to my clients and what keeps them up at night, I can create the best plan for their family,” Janice explains.</h4>
      </div>
       
      <p>Estate planning is a relationship, not a transaction, and that’s what Janice values most about her work: the human connections she forges with her clients. She’ll guide you through the decision-making process with compassion and expertise, and tailor a plan to suit your wishes. She’s available whenever you have a question or need to update your plans, and she’ll gently steer your family through the necessary steps when the time comes to implement the plan you’ve created. </p>

      <p>Families face unique challenges when planning for the future, and Janice’s clients appreciate her ability to simplify complex legal matters and provide a clear understanding of what will happen to their estate after death. Blended families, extended families, children and adults with special needs, pets, parents, siblings, and families built out of shared lives rather than blood all have different concerns. </p>

      <p>Janice ensures our community of attorneys communicate and collaborate as a team so we can harness our collective experience for all of our clients whenever there’s a particularly delicate issue.</p>

      <p>It can bring comfort to know that the lawyer who helps you draw up your estate plans will work with your spouse or children later on to fulfill your wishes. Janice is conscientious about following through with what the trust makers want and to treat their loved ones with kindness.</p>
       
      <p>As mother to a young son herself, Janice understands firsthand how critical it is to plan for your death – and how emotional it can be. Like all of us, she’s uneasy about dying, but she finds purpose in delivering peace of mind to her clients, who can rest easier knowing they’ve taken care of their loved ones.</p>
      
    </div>
  </div>


  <div class="pop_up1 lightbox" id="fl4">
    <div class="ass_details text-center">
      <figure>
        <img src="images/pop_up_img2.png" class="bor_rad_none" width="436" height="210" alt="pop_up_img1">
      </figure>
      <h2>Wonderful!</h2>

      <p class="text-center">Thank you for taking this important step to protect your family <br> and loved ones. A team member will text you in a few minutes <br>to schedule an introductory chat with an Everwill attorney.</p>

      <p class="text-center">We look forward to getting to know you.</p>

      <button id="close_success" type="button" class="ok_btn">ok</button>    

    </div>
  </div>

  <a id="pop_success" data-featherlight="#fl4"></a>

  <!-- SET: SCRIPTS -->
  <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
  <script type="text/javascript" src="js/featherlight.min.js"></script>
  <script type="text/javascript" src="js/form_sec.js"></script>

  <script type="text/javascript">
  $(document).ready(function(e){
    $('.mbl_no').clone().appendTo('.appand'); 

    /*custom validation*/
    FormValidation.Validator.placeholder = {
      validate: function(validator, $field, options) {
        return $field.attr('placeholder') != $field.val();
      }
    };

    $('#wizardForm')
    .formValidation({
      icon: {
        valid: 'glyphicon glyphicon-ok',
        invalid: 'glyphicon glyphicon-remove',
        validating: 'glyphicon glyphicon-refresh'
      },
      excluded: ':disabled',
      fields: {
        name: {
          validators: {
            notEmpty: {
              message: 'Your name is required',
            },
            placeholder:{
              message: 'The value cannot be the same as placeholder'
            }
          }
        },
        phone: {
          validators: {
            notEmpty: {
              message: 'Phone Number is required'
            },
            regexp: {
              message: 'Not a valid phone number',
              regexp: /^(?:(?:\+?1\s*(?:[.-]\s*)?)?(?:\(\s*([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9])\s*\)|([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]))\s*(?:[.-]\s*)?)?([2-9]1[02-9]|[2-9][02-9]1|[2-9][02-9]{2})\s*(?:[.-]\s*)?([0-9]{4})(?:\s*(?:#|x\.?|ext\.?|extension)\s*(\d+))?$/
            }
          }
        },
      }
    }).on('success.form.fv', function(e) {

      e.preventDefault();
      var $form = $(e.target),
      fv    = $form.data('formValidation');

      $.ajax({
        url: $form.attr('action'),
        type: 'POST',
        data: $form.serialize(),
        success: function(res) {                  
          
          if(res.code == 200){

            Intercom('boot', {  
                app_id: '<%= settings.intercom[:app_id] %>',    
                name: $('#name').val(),
                phone: $('#phone').val(),
                user_id: res.user.id,
            });

            $('form').fadeOut(function(){
              $('.f_success').html("<p>Thank you!<br><br> A team member will text you in a few minutes to  schedule an introductory chat with an Everwill attorney!</p>")    
            });

            $('#pop_success').trigger("click");
            
          }else{
            alert("sorry, please try again")
          }

        }
      });
    });

    $('#close_success').on("click", function(e){
      $.featherlight.current().close()
      
    })

  });
</script>


<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/3748455.js"></script>
<!-- End of HubSpot Embed Code -->



</body>
</html>
