<div class="page-header">
  <h3>app/views/login.erb</h3>
</div>
<a href='/auth/twitter'>Sign in with Twitter</a><br>
<a href='/auth/instagram'>Sign in with Instagram</a><br>
<a href='/auth/facebook'>Sign in with Facebook</a><br>
<a href='/auth/github'>Sign in with Github</a><br>
<a href='/auth/linkedin'>Sign in with Linkedin</a><br>
